<!-- Resources -->
<div style="text-align: center;">
    <div><p>Slots: {{slot.slot}}</p></div>
    <table align="center">
        <tr>
            <th>Name</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>A1</td>
            <td>{{slot.A1}}</td>
        </tr>
        <tr>
            <td>A2</td>
            <td>{{slot.A2}}</td>
        </tr>
        <tr>
            <td>A2</td>
            <td>{{slot.A2}}</td>
        </tr>
    </table>
</div>

<router-outlet></router-outlet>
